<!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class="profile-pic"  src="/images/profilepic.jpg" alt="" />

         </div>

         <div class="nine columns main-col">

            <h2>About Me</h2>

            <p>My name is chetan kotwal. I have completed my graduation from Gujarat Technological University in 2018.
               I have two years of experiences on React technology. Apart from this I have good knowledge of some technologies such as 
               Java, Javasript, Angular, Flutter. Now, I am looking for a platform where I can easily grasp erudition about new technologies.
            </p>

            <div class="row">

               <div class="columns contact-details">

                  <h2>Contact Details</h2>
                  <p class="address">
						   <span>Chetan Kotwal</span><br>
						   <span>21 Red Plant Crescent<br>
						         Brampton, ON L7A 1V8
                     </span><br>
						   <span>(123)456-7890</span><br>
                     <span>anyone@website.com</span>
					   </p>

               </div>

               <div class="columns download">
                  <p>
                     <a href="#" class="button"><i class="fa fa-download"></i>Download Resume</a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


    <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Education
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Education</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>Conestoga College</h3>
                  <p class="info">Mobile Solution Development <span>&bull;</span> <em class="date">September 2021</em></p>

                  <p>
                     For getting depth knowledge in computer field, I have taken an admission in Conestoga College. Here, I have taken a course name as 
                     Mobile Solution Development. In addition to this, here I am able to do part time job, which assists me to pay my expenses. I will be 
                     completing my course until December 2022.  
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Gujarat Technological University</h3>
                  <p class="info">Computer Engineering <span>&bull;</span> <em class="date">June 2018</em></p>

                  <p>
                     I have taken an admission in Gujarat Technological University in 2014. Gujarat Technological University 
                     (International Innovative University), commonly referred as GTU, is a state university affiliating many
                      engineering, pharmacy, and management colleges in Gujarat state, India. The university is headed by the state 
                      government and came into existence on 16 May 2007.
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Education -->


      <!-- Work
      ----------------------------------------------- -->
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Work</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>Actious Solution</h3>
                  <p class="info">React Developer<span>&bull;</span> <em class="date">June 2018 - December 2019</em></p>

                  <p>
                     I was working as React developer. I was responsible for designing and implementing UI components for 
                     JavaScript-based web applications and mobile applications with the use of open-source library infrastructure. 
                     ReactJS developers are front-end developers who build modern-day UI components to improvise application performance.
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>HCL</h3>
                  <p class="info">Software Developer Trainee <span>&bull;</span> <em class="date">December 2019 - February 2021</em></p>

                  <p>
                  I was as a member of the software development team.They seek to facilitate the proper design and implementation of software.
                  From detailed computer coding to innovative design, a Software Developer is an asset when creating a seamless software 
                  experience for customers.
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Work -->


      <!-- Skills
      ----------------------------------------------- -->
      <div class="row skill">

         <div class="three columns header-col">
            <h1><span>Skills</span></h1>
         </div>

         <div class="nine columns main-col">

            <p>Computer skills are often technical, so it is important to mention specific software you know how to 
               operate and your proficiency level for each one. Some jobs require you to have extensive knowledge of 
               certain software or programs, such as Adobe Photoshop if you are working in a field like marketing or 
               graphic design. In these scenarios, make sure you list the specific computer skills in your resume skills 
               section so that hiring managers know exactly what you are capable of doing.

				<div class="bars">

				   <ul class="skills">
					   <li><span class="bar-expand photoshop"></span><em>HTML</em></li>
                  <li><span class="bar-expand illustrator"></span><em>CSS</em></li>
						<li><span class="bar-expand wordpress"></span><em>React</em></li>
						<li><span class="bar-expand css"></span><em>Java</em></li>
						<li><span class="bar-expand html5"></span><em>Javascript</em></li>
                  <li><span class="bar-expand jquery"></span><em>jQuery</em></li>
					</ul>

				</div><!-- end skill-bars -->

			</div> <!-- main-col end -->

      </div> <!-- End skills -->

   </section> <!-- Resume Section End-->

  

